<?xml version='1.0' encoding='utf-8'?>
<!-- ~ Hibernate, Relational Persistence for Idiomatic Java ~ ~ License: 
	GNU Lesser General Public License (LGPL), version 2.1 or later. ~ See the 
	lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>. -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/rackfx</property>
		<property name="connection.username">user1</property>
		<property name="connection.password">admin1</property>

		<!-- JDBC connection pool (use the built-in) -->
		<!-- <property name="connection.pool_size">1</property> -->

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Disable the second-level cache -->
		<!-- <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property> -->

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- <property name="hibernate.format_sql">true</property> -->
		<!-- <property name="use_sql_comments">true</property> -->

		<property name="hbm2ddl.auto">update</property>

		<property name="hibernate.search.default.directory_provider">filesystem</property>
		<property name="hibernate.search.default.indexBase">/home/anthony/Git_repository/rackfx/Rackfx2.0/indexes</property>

<!-- 		<property name="hibernate.search.analyzer">org.apache.lucene.analysis.standard.StandardAnalyzer</property> -->

		<!-- Names the annotated entity class -->
		<mapping class="model.Groupe" />
		<mapping class="model.Rencontre" />
		<mapping class="model.Personne" />
		<mapping class="model.Organisateur" />
		<mapping class="model.Titre" />
		<mapping class="model.Representation" />
		<mapping class="model.User" />
		<mapping class="model.Parametres" />

	</session-factory>

</hibernate-configuration>